* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.image-one {
    margin-top: 50px;

}

/*Header and navigation style*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding-top: 40px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-text {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    border: 0;
}

.banner {
    display: flex;
    margin: 0 100px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 7px;
}

.banner-p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;

}

/*---about section styles--*/
main {
    max-width: 1000px;
    margin: 0 auto;
}

.about {
    margin-top: 120px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 120px 140px;
    text-align: center;
}

.section-title {

    margin-bottom: 20px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-info-container {
    display: flex;

    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.what-i-do {
    margin-top: 120px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.what-des {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
    margin: 25px 80px 40px 80px;

}

.skills-container {
    display: flex;
}

.image-2 {
    padding-top: 20px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-left: 15px;
}

.skill-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.skill-description {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    margin-top: 20px;
    padding: 15px;
}